h1 {
  color: blue;
}
#spanId {
  font-size: 18 px;
  margin: 50 px;
}

img {
  width: 400 px;
}
#thriDiv {
  width: 500 px;
  height: 600 px;
  background-color: blueviolet;
  padding: 50px;
  border: 5px, black, solid;
}
